{% extends 'Movies/base.html' %}

{%  block content %}
{% load static %}

<div class="row-fluid" >
    <div class="col-sm-3 col-md-3" id="lft">
        Sort by section
        <ul>
            <li><p class="kip"><a href="#" class="btn btn-primary" role="button"> Category</a> </p> </li>
            <p class="kip"><a href="#" class="btn btn-primary" role="button"> Release date</a> </p>
                <p class="kip"><a href="#" class="btn btn-primary" role="button"> Age </a> </p>


    </div>

    <div class="col-sm-9 col-md-9" id="rght">


        <div class="row-fluid">
    <h1> sorted way </h1>

    <!--=====================================-->
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>

             <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>

             <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>
             <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>




</div> <!--end of row-fluid -->

</div>





{% endblock %}}