<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="">
    <meta name="description" content="Task">
    <meta name="keywords" content="">
    <title>The base page</title>
    <!-- loading th static files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Movies/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Movies/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'Movies/css/base.css' %}">
</head>
<body>

<!--========making of the navigation menu========== -->

<nav class="navbar navbar-default">
<div class="container-fluid">

    <!-- the logo & menu button section -->
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#topNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'Movies:index' %}" class="navbar-brand">Movies</a>
    </div>

<!--navigation items -->
<div class="collapse navbar-collapse" id="topNavBar">


    <form action="#" class="navbar-form navbar-left" role="search" method="get">
        <div class="form-group">
            <input type="text" class="form-control" name="q" value="">
        </div>
        <button type="submit" class="btn btn-success"> Search</button>
    </form>

<!-- the buttons on the right of the navbar -->
    <ul class="nav navbar-nav navbar-right">

        <li class="">
            <a href="#">
                <span class="glyphicon glyphicon-disk" aria-hidden="true"></span>&nbsp;Learn More
            </a>
        </li>

        <li class="">
            <a href="#">
                <span class="glyphicon glphicon-music" aria-hidden="true"></span>&nbsp;Browse Events
            </a>
        </li>

        <li class="">
            <a href="#">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Help
            </a>
        </li>

        <li class="">
            <a href="#">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;User
            </a>
        </li>

        <li class="">
            <a href="">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;CREATE EVENT
            </a>
        </li>

    </ul>


</div>

</div>
</nav>
<body>

{% block content %}

{% endblock %}




<script src="{% static 'Movies/js/jquery.js' %}"></script>
<script src="{% static 'Movies/js/bootstrap.js' %}"></script>
<script src="{% static 'Movies/js/base.js' %}"></script>
</body>
</html>