{% extends 'Movies/base.html' %}

{%  block content %}
{% load static %}

<!-- the homepage section the image slder section -->
<div class="row-fluid">
    <img src="{% static 'Movies/img/two.png' %}" alt="" class="img-responsive">
</div>

<!-- making the why us section -->

<div class="container">
      <div class="row">

          <h2> Why us </h2>

           <div class="col-sm-6 col-md-4">
               <p> we are the best  </p>
           </div>


           <div class="col-sm-6 col-md-4">
               <p> we are the best  </p>
           </div>

           <div class="col-sm-6 col-md-4">
               <p> we are the best  </p>
           </div>





{% endblock %}