{% extends 'Movies/base.html' %}

{%  block content %}
{% load static %}

<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home pr-10"></i>
                <a href=""> Curent user's Name</a>
            </li>
            <li class="active"> Sorted Category</li>

            <li class="pull-right"> Account Amount </li>

        </ol>
    </div>
</div>


<div class="row-fluid">


    <!--=====================================-->
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>

      <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> <a href="#" class="btn btn-success"
                                                                                      role="button"> Wishlist</a>
                 </p>

                  </div>
    </div>
  </div>

      <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>

      <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>

      <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>

      <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>
      <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="" alt="">
              <div class="caption">
                  <h3> Movie Title</h3>
                  <p> Movie release date  </p>
                  <p> rating </p>
                  <p>movie price </p>
                 <p> <a href="#" class="btn btn-primary" role="button">Shop
                 </a> <a href="#"class="btn btn-default" role="button">Details</a> </p>
                  </div>
    </div>
  </div>


</div>





{% endblock %}}